@import "../../../theme/colors";

.form {
    flex-grow: 1;
    vertical-align: middle;
    Label{
        margin-top: 0;
        margin-bottom: 0;
        width: 80%;
        text-align: left;
        font-size: 17;
    }
    .input{
        font-size: 17;
    }
}
Button{
    margin-top: 30;
    width: 80%;
    font-size: 18;
    background-color: $green;
    border-color: $green;
}
Button[isEnabled=false] {
    background-color: $green-light;
}

Button[isEnabled=false] {
    border-color: $green-light;
}
ActivityIndicator{
    height: 40;
    width: 40;
}


