
<ns-action-bar title=""
               [showBackButton]="false">
</ns-action-bar>

<!-- automatski generisan kod za items -->
<FlexboxLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</FlexboxLayout>
<Button class="btn -secondary -rounded-lg p-y-2 m-t-30 fa" text="Odjavi se &#xf011;"
        (tap)="Logout()"
        ></Button>
