
$primary: #48a648;
$complementary: #e4572e;

$success: #00680e;
$fail: #880000;

$white: #f5f5f5;
$green: #48a648;
$green-light: #98c498;
$orange: #e4572e;
$orange-light: #e88a6f;
$gray: #434343;
$muted: #767676;
