<TabView androidTabsPosition="bottom"
         androidSelectedTabHighlightColor="#f5f5f5"
         selectedTabTextColor="#f5f5f5"
         class="fa">
  <!-- name je obavezno -->
  <StackLayout *tabItem ="{title:'&#xf0ca; \n Lista naloga'}">
    <page-router-outlet  name="orders"></page-router-outlet>
  </StackLayout>
  <StackLayout *tabItem ="{title:'&#xf0fe; \n Novi nalog'}">
    <page-router-outlet  name="newOrder"></page-router-outlet>
  </StackLayout>
  <StackLayout *tabItem ="{title: '&#xf0f3; \n Obaveštenja'}">
    <page-router-outlet  name="items3"></page-router-outlet>
  </StackLayout>
</TabView>
