<FlexBoxLayout class="m-b-20 m-t-20">
  <StackLayout class="form" [formGroup]="orderItemForm">

    <!-- Dimenzije -->
    <FlexboxLayout class="label-required mx-auto w-80 m-t-20" *ngIf="validTypologyCategory">
      <Label text="Dimenzije: " [ngClass]="{exception: (orderItemForm.get('width').touched && orderItemForm.get('width').errors)
        || (orderItemForm.get('height').touched && orderItemForm.get('height').errors)}"></Label>
      <Label text="*" class="exception"></Label>
    </FlexboxLayout>
    <StackLayout class="input-field m-b-20 m-t-20" *ngIf="validTypologyCategory">
      <FlexboxLayout class="dimenzije m-t-20 m-b-20">
        <TextField hint="Širina" class="input -rounded m-t-0" formControlName="width" keyboardType="integer"
          returnKeyType="next"></TextField>
        <Label text=" x "></Label>
        <TextField hint="Visina" class="input -rounded m-t-0" formControlName="height" keyboardType="integer"
          returnKeyType="next"></TextField>
        <Label text="mm"></Label>
      </FlexboxLayout>
      <Label class="exception err" *ngIf="(orderItemForm.get('width').touched && orderItemForm.get('width').errors)
            || (orderItemForm.get('height').touched && orderItemForm.get('height').errors)"
        text="Morate uneti dimenzije."></Label>
    </StackLayout>
    <!-- Dimenzije -->

    <!-- Kolicina -->
    <FlexboxLayout class="label-required mx-auto w-80 m-t-20" *ngIf="validTypologyCategory">
      <Label text="Količina: "
        [ngClass]="{exception: orderItemForm.get('quantity').touched && orderItemForm.get('quantity').errors}"></Label>
      <Label text="*" class="exception"></Label>
    </FlexboxLayout>
    <StackLayout class="input-field m-b-20 m-t-20" *ngIf="validTypologyCategory">
      <TextField hint="Količina" class="input -rounded m-t-0" formControlName="quantity" keyboardType="integer"
        returnKeyType="next"></TextField>
      <Label class="exception err" *ngIf="orderItemForm.get('quantity').touched && orderItemForm.get('quantity').errors"
        text="Morate uneti količinu."></Label>
    </StackLayout>
    <!-- Kolicina -->

    <!-- Napomena -->
    <Label text="Dodatna napomena: " class="mx-auto w-80 m-t-20 m-b-5"
      [ngClass]="{exception: orderItemForm.get('note').touched && orderItemForm.get('note').errors}"
      *ngIf="validTypologyCategory && glassQualities"></Label>
    <StackLayout class="input-field m-b-20">
      <TextView hint="Unesite dodatnu napomenu za ovu stavku" class="input -rounded m-t-0 napomena"
        formControlName="note" returnKeyType="done"></TextView>
    </StackLayout>
    <!-- Napomena -->

    <!-- Dugmad -->
    <FlexboxLayout class="buttons m-t-20">
      <Button class="btn -outline-primary -rounded-lg" text="Odustani" (tap)="closeItemWindow()"></Button>
      <Button class="btn -primary -rounded-lg" text="Izmeni stavku" (tap)="editOrderItem()"></Button>
    </FlexboxLayout>
    <!-- Dugmad -->

  </StackLayout>
</FlexBoxLayout>
